<div class="rb-filter">
    <div>
        <a href="/quickview/edit/?module=<?php echo $entity ?>" class="rb-btn"><?php echo $this->lang('new') . ' ' . $entity ?></a>
    </div>

    <?php echo $itemsPerPage ?>
    <?php echo $paging ?>
</div>
