<?php if ($entities) { ?>
    <ul id="nav-quickview">
    <?php foreach ($entities as $entity) { ?>
        <li><a href="/quickview/#<?php echo $entity ?>" id="quickview-<?php echo $entity ?>"><?php echo $entity ?></a></li>
    <?php } ?>
    </ul>
<?php } ?>
